# Servidor
PUERTO=3000

# Base de datos MySQL
DB_HOST=localhost
DB_PUERTO=3307
DB_NOMBRE=nexora
DB_USUARIO=nexora_user
DB_CONTRASENA=nexora_pass

# JWT
JWT_SECRETO=cambia_este_secreto_en_produccion
JWT_EXPIRACION=7d

# DeepSeek API
DEEPSEEK_API_KEY=tu_api_key_aqui
DEEPSEEK_URL=https://api.deepseek.com/v1/chat/completions

# Entorno
NODE_ENV=development
